USE [master]
GO
/****** Object:  Database [Phim3]    Script Date: 11/15/2025 4:06:31 AM ******/
CREATE DATABASE [Phim3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Phim3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Phim3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Phim3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Phim3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Phim3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Phim3]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 11/15/2025 4:06:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[MovieTitle] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[TotalPrice] [decimal](18, 0) NULL,
	[BookingDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 11/15/2025 4:06:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Genre] [nvarchar](50) NULL,
	[Duration] [int] NULL,
	[ReleaseDate] [datetime] NULL,
	[Price] [decimal](18, 0) NULL,
	[PosterUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/15/2025 4:06:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[OTPCode] [nvarchar](10) NULL,
	[Role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [Username], [MovieTitle], [Quantity], [TotalPrice], [BookingDate]) VALUES (1, N'admin', N'Avengers: EndGame', 2, CAST(190000 AS Decimal(18, 0)), CAST(N'2025-11-13T22:16:00.913' AS DateTime))
INSERT [dbo].[Bookings] ([Id], [Username], [MovieTitle], [Quantity], [TotalPrice], [BookingDate]) VALUES (2, N'admin', N'The Conjuring', 2, CAST(170000 AS Decimal(18, 0)), CAST(N'2025-11-14T01:35:58.633' AS DateTime))
INSERT [dbo].[Bookings] ([Id], [Username], [MovieTitle], [Quantity], [TotalPrice], [BookingDate]) VALUES (3, N'admin', N'The Shawshank Redemption', 2, CAST(210000 AS Decimal(18, 0)), CAST(N'2025-11-14T01:36:33.197' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([Id], [Title], [Description], [Genre], [Duration], [ReleaseDate], [Price], [PosterUrl]) VALUES (1, N'Avengers: EndGame', N'', N'Hành động', 10, NULL, CAST(95000 AS Decimal(18, 0)), N'')
INSERT [dbo].[Movies] ([Id], [Title], [Description], [Genre], [Duration], [ReleaseDate], [Price], [PosterUrl]) VALUES (2, N'The Conjuring 12', N'', N'Kinh dị', 123, NULL, CAST(30000 AS Decimal(18, 0)), N'')
INSERT [dbo].[Movies] ([Id], [Title], [Description], [Genre], [Duration], [ReleaseDate], [Price], [PosterUrl]) VALUES (3, N'The Shawshank Redemption', NULL, N'Tâm lý', 142, NULL, CAST(70000 AS Decimal(18, 0)), N'https://upload.wikimedia.org/wikipedia/vi/8/81/ShawshankRedemptionMoviePoster.jpg')
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Email], [OTPCode], [Role]) VALUES (1, N'admin', N'123456', N'admin@gmail.com', NULL, N'Admin')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Email], [OTPCode], [Role]) VALUES (2, N'testuser1', N'211', N'User@gmail.com', NULL, N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4FF42152A]    Script Date: 11/15/2025 4:06:31 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
USE [master]
GO
